= render :partial => 'admin/shared/comment_sub_menu', :locals => {:current => "New"}

%h1
  = "#{t("actions.listing")} #{t("new_comments")}"

%div{:id => 'new_product'}

%table{:class => 'index', :id =>'listing_comments'}
  %tr
    %th
      = t("comment")
    %th
      = t("user")
    %th
      = t("product")
    %th
      = t("comment_actions")
  - @collection.each do |object|
    %tr{:id => dom_id(object)}
      %td
        = object.description
      %td
        = object.user.email
      %td
        = object.product.name
      %td{:class => 'actions'}
        = link_to_approve object
        = link_to_delete object

= will_paginate(@collection, :previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;")
