- @body_id = 'signup'
= render "shared/error_messages", :target => @user
#new-customer
  %h2= t("new_customer")
  %p
    = t("view.user_registrations.new.unsubscribe")
  %p
    = t("view.user_registrations.new.do_not_provide_email")
  %p
    = t("view.user_registrations.new.rules")
  %p
    = t("view.user_registrations.new.condition_rules")
  = hook :signup do
    = form_for(:user, :url => registration_path(@user)) do |f|
      = hook :signup_inside_form do
        = render 'shared/user_form', :f => f
        %p= submit_tag t("view.user_registrations.new.buttons.registration"), :class => 'button primary'
    = t("or")
    = link_to t("login_as_existing"), login_path
= hook :login_extras

