- content_for :head do
  = javascript_include_tag  'checkout', '/states'

%div#checkout
  %h1
    - if @order.in_present?
      = t("checkout_coupon_in_present", :email => @order.present_email)
    - else
      = t("checkout_coupon")
  %br{:clear => "left"}
  = render "shared/error_messages", :target => @order
  %div#checkout-summary
    = render 'summary', :order => @order
  = form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form|
    = render @order.state, :form => form
    %input#post-final{:type => "submit", :style => "display:none" }

