= render "shared/error_messages", :target => @user
%h2= t("registration")
%div#registration
  %div#account
    = render :file => 'user_sessions/new'

  - if Spree::Config[:allow_guest_checkout]
    %div#guest_checkout
      = render "shared/error_messages", :target => @order
      %h2= t(:guest_user_account)
      = form_for @order, :url => update_checkout_registration_path, :html => { :method => :put, :id => "checkout_form_registration"} do |f|
        %p
          = f.label :email, t("email")
          %br
          = f.text_field :email, :class => 'title'
        %p= submit_tag t("continue"), :class => 'button primary'
