= render 'shared/main_tabs'
= render 'shared/current_action'
.action-more
  .action-more-banner
    = image_tag "/images/action1.jpg", :size=>"500x120"
  .action-more-info
    .action-more-data
      15 февраля - 15 мая 2011
    .action-more-head
      Весенняя коллекция женской одежды сети магазинов «ZARA» со скидкой 30%
    =link_to "Учавствовать", "#", :class=>"action-more-in"

.action-more
  .action-more-banner
    = image_tag "/images/action1.jpg", :size=>"500x120"
  .action-more-info
    .action-more-data
      15 февраля - 15 мая 2011
    .action-more-head
      Весенняя коллекция женской одежды сети магазинов «ZARA» со скидкой 30%
    =link_to "Учавствовать", "#", :class=>"action-more-in"
.action-more
  .action-more-banner
    = image_tag "/images/action1.jpg", :size=>"500x120"
  .action-more-info
    .action-more-data
      15 февраля - 15 мая 2011
    .action-more-head
      Весенняя коллекция женской одежды сети магазинов «ZARA» со скидкой 30%
    =link_to "Учавствовать", "#", :class=>"action-more-in"
.action-more
  .action-more-banner
    = image_tag "/images/action1.jpg", :size=>"500x120"
  .action-more-info
    .action-more-data
      15 февраля - 15 мая 2011
    .action-more-head
      Весенняя коллекция женской одежды сети магазинов «ZARA» со скидкой 30%
    =link_to "Учавствовать", "#", :class=>"action-more-in"


