%li
  = current_user.email
%li
  = "#{current_user.profile.balance} #{t('currency')}"
%li
  = link_to t('private'), account_path
%li
  = link_to t('logout'), destroy_user_session_path
%li
  = link_to current_user.state.name, "#", :id=>"states_link"

:javascript
  $(document).ready(function() {
    $("#states_link").click(function(){
      if($("#states").is(":visible")){
        $("#states").hide()
      } else {
        $("#states").show()
      }
        
    })
  });

  

