%li
  = current_user.email
%li
  = link_to "#{current_user.profile.balance} #{t('currency')}", user_deposit_path
%li
  = link_to t('private'), profile_path(current_user.profile)
%li
  = link_to t('logout'), destroy_user_session_path
%li
  = link_to current_state, "#", :id=>"states_link"

:javascript
  $(document).ready(function() {
    $("#states_link").click(function(){
      if($("#states").is(":visible")){
        $("#states").hide()
      } else {
        $("#states").show()
      }
        
    })
  });

  

