- content_for :head do
  = javascript_include_tag  'checkout', '/states'

- @body_id = 'cart'
- @product = @order.line_items.first.product

%h2= t("shopping_cart")
= link_to t('back_to_description'), product_path(@product), :class=>"back-to-product"

- if @order.line_items.empty?
  = hook :empty_cart do
    %p= t("your_cart_is_empty.")
- else
  = form_for(@order, :url => update_cart_path, :html=>{:id=>'updatecart'}) do |order_form|
    = render :partial => 'form', :locals => {:order_form => order_form}
  .links
    = link_to t("buy"), checkout_state_path(:payment), :class => 'button3 primary white'
    = link_to t("present"), "", :class => 'button3 primary white'
  %hr.space
:css
  .back-to-product {
    float:right;
    margin-bottom:10px;
    margin-top:10px;
  }
