%p
  = link_to t('print'), "", :class =>"button3 green", :onclick => "window.print(); return false;"
  = link_to t('back_to_store'), account_path, :class =>"button3 white"

%section{:style => "border: .2em gray solid;"}
  %h1= @order.products.first.name
  %section
    = product_image(@order.products.first)
  %section
    %hr
    %h2
      = raw "Номер вашего купона: <b>#{@order.coupon}</b>"
    %hr
    %h3
      = "Воспользоваться купоном можно до #{l @order.products.first.available_till, :format => "%d %B %Y"}"
    %hr
      Описание:
      %br
      = @order.products.first.description
    %hr
    %table
      %tr
        %td.conditions-wrapper
          %h2= t('conditions')
          %ul
            - (@order.products.first.conditions||[]).each do |condition|
              %li= condition.desc
        %td.conditions-wrapper
          %h2=t('features')
          %ul
            - (@order.products.first.features||[]).each do |feature|
              %li= feature.desc
%br
%p
  = link_to t('print'), "", :class =>"button3 green", :onclick => "window.print(); return false;"
  = link_to t('back_to_store'), account_path, :class =>"button3 white"


