<h2>Отправить приглашение</h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p>
    <%= f.submit "Отправить", :class => "button3 white" %>
    <%= link_to "Вернутся", after_sign_in_path_for(resource_name), :class => "button3 white" %>
  </p>
<% end %>


