= form_for :order, :url => populate_orders_url do |f|
 
  - if @product.has_stock? || Spree::Config[:allow_backorders]
    = hidden_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"), 1, :class => "title", :size => 3
    = f.submit t('buy'), :class=>"action-bye"
  - else
    = content_tag('strong', t('out_of_stock'))

