#current-action
  .action-banner
    = link_to large_image(product, :size=>"610x300"), "#"
    .action-head
      = link_to product.name, "#"
  .action-info
    .action-price
      ="#{t('self_price')}: #{number_to_currency(product.cost_price, :precision => 0)}"
    .action-skidka
      ="#{t('discount')}: #{number_to_percentage product.discount, :precision => 0}"
    .action-economy
      ="#{t('economy')}: #{ number_to_currency( (product.cost_price.to_i/100)*product.discount.to_i, :precision => 0) }"
    .action-bigprice
      ="#{product.price.to_i}"
      %span=t('currency')
      - @product = product
      = render 'cart_form'
    .action-deadline
      = hidden_field_tag 'end_time', product.available_till.to_s
      =t("time_left_show")+":"
      %br/
      %span#timeLeft
        = time_ago_in_words(product.available_till)
    .action-kupleno
      =t('already_buyed')+":"
      %span
      = product.master.line_items.count
      = t('cupons')
      %br
      = link_to( t('join_us'), signup_path, :class=>"action-join") unless current_user
#current-action-tabs
  = link_to t("action_description"), description_product_path(product), :class => "action-conditions selected-action-tab load-content"
  = link_to t("action_conditions"),  conditions_product_path(product),  :class => "action-about load-content"
  = link_to t("action_comments"),    comments_product_path(product),    :class => "action-comments load-content"
  = link_to t("add_comment"),        add_comment_product_path(product), :class => "action-addcomment load-content"


%br/
%br/
#action-desc-wrapper
  = product.description

%br/
:css
  .action-bye {
    background-color: #FFF;
    display: block;
    height: 30px;
    width: 120px;
    font-size: 16px;
    text-align: center;
    color: #000;
    text-decoration: none;
    line-height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px white solid;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight:bold;
    padding:0px;
    coursor:pointer;
  }
  .action-bye:hover {}

:javascript
  var endDate = new Date(Date.parse($('#end_time').val()))
  TimeLeft(endDate, "#timeLeft")
  $("a.load-content").click(function(){

    $("#current-action-tabs").children().each( function(indx,child){
      $(this).removeClass("selected-action-tab")
    });
    $(event.target).addClass("selected-action-tab");
    $("#action-desc-wrapper").html("Загружается...")
    $("#action-desc-wrapper").load($(this).attr("href")+".js");

    return false;
  });


