-if flash[:alert]
  %div{:class=>"flash errors"}
    = flash[:alert]

- @body_id = 'login'

#existing-customer
  %h2
    = t("groupon.login_as_existing")
  = hook :login do
    = render :partial => 'shared/login'
    %br
    = t("or")
    = link_to t("create_a_new_account"), signup_path, :class => "button3 white"
    = link_to t("forgot_password"), new_user_password_path, :class => "button3 white"
    %hr

