<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<%= hook :inside_head do %>
  <%= render :partial => 'shared/head'%>
<% end %>

<%= stylesheet_link_tag 'jqrowl.css' %>
<%= javascript_include_tag 'jquery.jgrowl.js' %>
<%= stylesheet_link_tag 'overcast/jquery-ui' %>
<%= javascript_include_tag  'jquery-ui' %>
</head>
<%
if @body_class.nil?
  if content_for?(:sidebar)
    @body_class = 'two-col'
  else
    @body_class = 'one-col'
  end
end
 %>
<body class="<%= @body_class %>" id="<%= @body_id %>">
  <%= render 'shared/states_list' %>
  <div id="header" class="container_bg">
    <div class="container">
      <div id="login-bar">
        <ul id="nav-bar">
          <%= render 'shared/nav_bar' %>
        </ul>
      </div>
      <%= logo %>
    </div>
    <%= render 'shared/social_invites' %>
  </div>

  <div id="groupon_wrapper" class="container">

    <div id="content">
      <%= breadcrumbs(@taxon) if @taxon %>
      <%= render "shared/flash_notify" %>
      <%= yield %>
    </div>

  </div>
<%= render :partial => 'shared/footer'%>
</body>
</html>
